{
    "presets": [
        "next/babel",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                }
            }
        ]
    ]
}
