{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "components": "./components",
                    "templates": "./templates"
                }
            }
        ],
        ["babel-plugin-styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ],
    "presets": ["next/babel"],
    "env": {
        "test": {
            "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
        }
    }
}
