{
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "prettier",
        "prettier/react",
        "prettier/standard"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true,
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "import/no-extraneous-dependencies": [
            2,
            {
                "devDependencies": [
                    "**/test.js",
                    "jest.setup.js"
                ]
            }
        ],
        "prettier/prettier": [
            "warn",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "printWidth": 100,
                "trailingComma": "all",
                "arrowParens": "always"
            }
        ]
    }
}
